@mixin button {
    margin-top: 15px;
    width: 100%;
    color: $white;
    border: none;
    padding: 10px 0;
    text-transform: uppercase;
    border-radius: 5px;
}

@mixin image($maxh: null, $maxw: null, $martop: null) {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: $martop;
    max-width: $maxw;
    max-height: $maxh;  
}