/* ============================================= */
/*              Variables                        */
/* ============================================= */

// Descriptive Colors

$white: #fff; 
$turquoise: #58e1c1; 
$gray: #777;
$light-gray: #ccc;
$malibu-blue: #51ddfc;
$dark-pink: #e4757a;
$lilac: #927bc1;
$green: #63cc82;
$fire-red: #fd7856;

// Functional Colors 

$color-primary: $turquoise; 
$color-secondary: $gray;
$color-accent: $malibu-blue;

$color-error: $dark-pink;
$color-info: $lilac;
$color-success: $green;
$color-warning: $fire-red;

// Media Query Breakpoint

$brk-min: 768px;